body {
  height: 100vh;
  width: 100vw;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

#title {
  grid-row: 1/2;
  font-size: 2em;
  font-weight: bold;
  font-family: "Arial";
  text-align: center;
}

#chart {
  grid-row: 2/3;
}

.bar:hover {
  fill: darkblue;
}

#tooltip {
  padding: .75em;
  position: absolute;
  background: lightgray;
  box-shadow: 1px 1px 1px lightgray;
  pointer-events: none;
}